.con{
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardbody{
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;



}
.div1{
  background-color: red;
  width: 200px;
}

.div2{
  background-color: blue;
  width: 200px;
}
.div3{
  background-color: green;
  width: 200px;
}

@media screen and (max-width:900px) {
  .paraghraps {
    display: block;
  }
  .paragraphOne {
    text-align: justify;
  }
  .paragraphThree {
    color: violet;
  }
}

@media screen and (max-width:400px) {
  .paraghraps {
    display: block;
  }
  .paragraphOne {
    text-align: justify;
    color: grey;
  }
  .button {
    width: 100%;
  }
